<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".SelectLanguageCustomDialog"
            android:exported="true" />
        <activity
            android:name=".CustomDialog"
            android:exported="true" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".AlertDialogFirst"
            android:exported="true" />
        <activity
            android:name=".AppChoser"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".AboutActionBar"
            android:exported="false" />
        <activity
            android:name=".ActionBarDemo"
            android:exported="true" />
        <activity
            android:name=".EmailIntent"
            android:exported="true" />
        <activity
            android:name=".ImplicitIntent"
            android:exported="true" />
        <activity
            android:name=".SnackBarActivity"
            android:exported="true" />
        <activity
            android:name=".AppLocal2"
            android:exported="true" />
        <activity
            android:name=".AppLocal1"
            android:exported="true" />
        <activity
            android:name=".SecondIntent"
            android:exported="false" />
        <activity
            android:name=".FirstIntent"
            android:exported="true" />
        <activity
            android:name=".CalculatorSpinner"
            android:exported="true" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".ListView"
            android:exported="true" />
        <activity
            android:name=".CA"
            android:exported="true" />
        <activity
            android:name=".GridLayout"
            android:exported="true" />
        <activity
            android:name=".Constraint"
            android:exported="true" />
        <activity
            android:name=".RadioButtonAndCheckButtons"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true" />
        <activity
            android:name=".Lecture3RelativeLayout"
            android:exported="true" />
        <activity
            android:name=".Lecture2"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>